<section class="grid grid-cols-3 gap-6">
  @if (product$ | async; as products) {
    @for(product of products; track product.name; let i = $index;) {
      <div class="flex flex-col h-[21.6875rem] gap-y-4">
        <div class="flex flex-col h-[21.6875rem] items-center">
          <img class="rounded-[.5rem] " [src]="getResponsiveImage(product.image)" alt="product-name">
          <button class="relative mt-[-1.75rem] rounded-[2rem] py-[.7125rem] px-[1.75rem] bg-[#fff] border-pharlap border flex items-center justify-center gap-[.5rem]">
            <img src="../../../assets/images/icon-add-to-cart.svg" alt="cart-icon">
            <p class="text-[0.875rem] font-semibold text-graphite">Add to Cart</p>
          </button>
        </div>
        <div class="flex flex-col gap-y-1">
          <p class="text-[.875rem] text-beaver">{{ product.category }}</p>
          <h4 class="text-graphite font-semibold text-[1rem]">{{ product.name }}</h4>
          <h3 class="text-tiamaria font-semibold text-[1rem]">{{ product.price | currency }}</h3>
        </div>
      </div>
    }
  } @else {
    <p>Loading products...</p>
  }
</section>
