<section class="w-[24rem] mobile:w-full tablet:w-full rounded-[0.75rem] min-h-[18.6875rem] bg-[#fff] p-6 flex flex-col gap-y-8" id="cart-container">
  <h3 class="font-bold text-[1.5rem] text-tiamaria">
    Your Cart
    ({{cartLength }})
  </h3>
  @if(!cartLength){
    <div class="flex flex-col  items-center justify-center">
      <img src="../../../assets/images/illustration-empty-cart.svg" alt="empty-cart image" class="size-[8rem]"/>
      <p class="text-center font-semibold text-beaver text-[1.25rem]">Your items will appear here</p>
    </div>
  } @else if(cartLength){
    @if(carts$ | async; as carts){
      <div class="flex flex-col gap-y-6 w-full">
        <div class="flex flex-col gap-y-3">
          @for(cart of carts; track cart.name; let i = $index){
            <div class="flex justify-between border-b border-fantasy pb-2">
              <div class="flex flex-col justify-between text-[.875rem]">
                <p class="text-graphite ">{{ cart.name }}</p>
                <div class="flex gap-3">
                  <span class="text-tiamaria font-bold">
                    {{ cart.quantity }}x
                  </span>
                  <div>
                    <span class="text-beaver">
                       {{ cart.price | currency}}
                    </span>
                  </div>
                  <span class="text-beaver font-bold">
                    {{ cart.quantity * cart.price | currency}}
                  </span>
                </div>
              </div>
              <button title="delete"(click)="deleteCartItem(i)" >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 stroke-pharlap">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
              </button>
            </div>
          }
        </div>
        <div class="flex justify-between items-center">
          <p>Order Total</p>
          <h2 class="font-bold text-graphite text-[1.5rem]">{{ cartTotal | currency}}</h2>
        </div>
        <div class="bg-fantasy rounded-[.5rem] flex items-center justify-center py-4 px-[3.2188rem]">
          <img src="../../../assets/images/icon-carbon-neutral.svg" alt="">
          <p class="text-graphite text-[0.875rem]">This is a <span class="font-bold">carbon-nuetral</span> delivery</p>
        </div>
        <button (click)="openModal()"  class="rounded-[2rem] text-[#fff] bg-tiamaria py-4 flex justify-center">
          Confirm Order
        </button>
      </div>
    }
  }
</section>
