<section class="desktop:w-[24rem] w-full rounded-[0.75rem] min-h-[18.6875rem] bg-[#fff] p-6 flex flex-col gap-y-8">
  <h3 class="font-bold text-[1.5rem] text-tiamaria">
    Your Cart
    ({{cartItems }})
  </h3>
  @if(!cartItems){
    <div class="flex flex-col  items-center justify-center">
      <img src="../../../assets/images/illustration-empty-cart.svg" alt="empty-cart image" class="size-[8rem]"/>
      <p class="text-center font-semibold text-beaver text-[1.25rem]">Your items will appear here</p>
    </div>
  } @else if( cartItems){

  }
</section>
